<div class="footer">
    <p> 
        Made with ten percent luck,
        twenty percent skill,
        fifteen percent concentrated power of will.
        Five percent pleasure,
        fifty percent pain,
        and a hundred percent reason to remember the name ...and also by <a href="https://github.com/rennerdigital" target="_blank">rennerdigital</a></p>

    
</div>