body{
    background-image: url('https://jakevdp.github.io/images/mario.gif') !important;
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

label {
    color: white !important;
}

h1, p {
    color: white !important;
}

.btn {
    color: white !important;
    background-color: dimgrey;
    border: none;
}