@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

body{
    background-image: url('https://i.pinimg.com/originals/29/14/97/2914979d57cf620dbf74856235f6f704.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}