<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/new.css" />

<body>
    <div class="container">
        <h1 class="mb-4">newpost.txt</h1>

        <form action="/posts" method="POST">
            <%- include('createupdateform') %>

        </form>
    </div>
</body>

<%- include('../partials/footer') %>